<div class = "col-10 offset-1 about">
  <h1> About Splurty</h1>

  <p>
    Splurty was built by <a target = "Pablo Ortiz" href = "https://github.com/VinlandLiteral/Splurty">Pablo</a>. A enthusatic learner who is on a mission to learn technical skills needed to launch his career.
  </p>
  <br />

  <p>
    After what seemed like hundreds of hours of learing how to code and building products Pablo was reasurred he choose the right program to advacne his career.
  </p>
  <p>
    If you want to learn how to code - start <a target = "start_here" href = "https://online.bootcampspot.com"> here</a>

<div class = "row">
  <div class = "col-12 col -sm-4">
    <%= image_tag 'pablo.jpg' , class: 'img-fluid' %>
  </div>


  <div class = "col-12 col-sm-7 offset-sm-1">
    <h2 class = "text-center"> Pablo Ortiz</h2>

  <br />
    <p>
    Pablo Ortiz is an asipring web developer and user with almost zero experience piror to this. He built his first web application (<a target= "Splurty" href = "https://github.com/VinlandLiteral/Splurty">Splurty,</a>) which is also his most recent work.
    </p>
  </div>
</div>
<br class = "clear" />

 <div class = "row">
  <div class = "col-12 col-sm-4" style = "padding-top:30px;">
    <%= image_tag 'dog.jpg', class: 'img-fluid' %>
  </div>
  <div class = "col-12 col-sm-7 offset-sm-1">
    <h2 class = "text-center">German Shephred</h2>
    <br />
    <p>
      German shephreds are loyal dogs and they can help relieve stress by having them accompany you. Sometimes it can be useful if your stuck on a technical problem(<a target="Problem" href = "https://online.bootcampspot.com">doing the bootcamp</a>) sometimes you need to take a step back.
    </p>
  </div>
 </div>





 </div>

 <br class = "clear" />
 <br />
 <br />
 <br />
 <br />


  






 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>



